<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.globallogic.training.hradcicva">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- <activity -->
        <!-- android:name=".gui.deprecated.main.MainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <!-- <activity -->
        <!-- android:name=".gui.deprecated.pager.PagerActivity" -->
        <!-- android:label="Pager Activity" -->
        <!-- android:theme="@style/AppTheme.NoActionBar" /> -->
        <!-- <activity android:name=".gui.deprecated.detail.ImageDetailActivity"></activity> -->
        <!-- <activity android:name=".deprecated.ImageDetailActivity"></activity> -->
        <!--<activity-->
            <!--android:name=".gui.deprecated.PagerActivity"-->
            <!--android:label="title button detail"-->
            <!--android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".gui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".gui.PagerActivity2"
            android:label="title button detail"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".gui.detail.ImageDetailActivity"
            android:label="title button detail"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" />
    </application>

</manifest>